Repository aadriii03/-ISO24-ISO2-B04, pull requests merged in 2024-12, with the labels that each got.

#83 Servidor-Pruebas-it1
  FasePruebasServidorIT1.pdf
Labels: Pruebas

#86 Fase de requisitos- it2-servidor
  Servidor-B04-ISOII.vpp
Labels: archivo VPP, Requisitos

#88 Análisis-it.2-servidor
  Servidor-B04-ISOII.vpp
Labels: archivo VPP, Analisis

#90 Servidor-Diseño It2
  Servidor-B04-ISOII.vpp
Labels: archivo VPP, Diseño

#94 FasePruebasServidorIT2
  FasePruebasServidorIT2.pdf
Labels: Pruebas

#96 It1-Requisitos-Cliente
  Cliente-B04-ISOII.vpp
Labels: archivo VPP, Requisitos

#101 It1-Cliente-Diseño
  Cliente-B04-ISOII.vpp
Labels: archivo VPP, Diseño

#105 it1-cliente-pruebas
  FasePruebasClienteIT1.pdf
Labels: Pruebas
